{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Articles</title>
</head>
<body>
    <h1>Article List</h1>
    <br><br>
    <div class="articles">
        {% for i in articles %}
        <div class="article">
            <h2> <a href="#"> {{i.title}} </a></h2>
            <h2>{{i.snippet}}</h2>
            <h2>{{i.date}}</h2>
        </div>
        <br>
        {% endfor %}
    </div>
</body>
</html>